.fc-tb__menu-icon--addin-get::before,
.fc-tb__menu-icon--addin-manage::before,
.fc-tb__menu-icon--addin-my::before {
  inset: 2px;
  border: 1px solid #8a8886;
  background:
    linear-gradient(#185abd 0 0) 2px 2px / 5px 5px no-repeat,
    linear-gradient(#107c41 0 0) 9px 2px / 5px 5px no-repeat,
    linear-gradient(#d83b01 0 0) 2px 9px / 5px 5px no-repeat,
    linear-gradient(#8764b8 0 0) 9px 9px / 5px 5px no-repeat,
    #ffffff;
}

.fc-tb__menu-icon--addin-get::after {
  right: 0;
  bottom: 0;
  color: transparent;
  content: "";
}

.fc-tb__menu-icon--addin-my::after {
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  background:
    linear-gradient(#185abd 0 0) 1px 1px / 4px 4px no-repeat,
    linear-gradient(#107c41 0 0) 7px 1px / 4px 4px no-repeat,
    linear-gradient(#d83b01 0 0) 1px 7px / 4px 4px no-repeat,
    linear-gradient(#8764b8 0 0) 7px 7px / 4px 4px no-repeat;
  color: transparent;
  content: "";
}

.fc-tb__menu-icon--addin-manage::after {
  right: 0;
  bottom: 0;
  color: transparent;
  content: "";
}

.fc-tb__menu-icon--pdf-create::before,
.fc-tb__menu-icon--pdf-preferences::before,
.fc-tb__menu-icon--pdf-share::before {
  inset: 2px 4px 2px 3px;
  border: 1px solid #a4262c;
  background:
    linear-gradient(#a4262c 0 0) 3px 5px / 8px 1px no-repeat,
    linear-gradient(#a4262c 0 0) 3px 8px / 6px 1px no-repeat,
    linear-gradient(#a4262c 0 0) 3px 11px / 7px 1px no-repeat,
    #ffffff;
}

.fc-tb__menu-icon--pdf-create::after {
  right: 0;
  bottom: 0;
  color: transparent;
  content: "";
}

.fc-tb__menu-icon--pdf-share::after {
  right: 0;
  bottom: 0;
  color: transparent;
  content: "";
}

.fc-tb__menu-icon--pdf-preferences::after {
  right: 0;
  bottom: 0;
  color: transparent;
  content: "";
}
