.fc-tb__menu-icon {
  position: relative;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  color: #185abd;
}

.fc-tb__menu-icon::before,
.fc-tb__menu-icon::after {
  position: absolute;
  content: "";
}

.fc-tb__menu-icon.fc-tb__menu-icon--svg::before,
.fc-tb__menu-icon.fc-tb__menu-icon--svg::after {
  content: none;
}

.fc-tb__menu-icon-svg {
  display: block;
  width: 18px;
  height: 18px;
}
