.fc-tb__menu-icon--link-clear::before,
.fc-tb__menu-icon--link-edit::before,
.fc-tb__menu-icon--link-external::before,
.fc-tb__menu-icon--link-open::before {
  top: 6px;
  left: 2px;
  width: 13px;
  height: 7px;
  border: 2px solid #185abd;
  border-radius: 7px;
  transform: rotate(-28deg);
}

.fc-tb__menu-icon--link-edit::after {
  right: 0;
  bottom: 0;
  width: 8px;
  height: 3px;
  border: 1px solid #ffffff;
  background: #185abd;
  box-shadow: -2px 0 0 #f4b183;
  content: "";
  transform: rotate(-35deg);
}

.fc-tb__menu-icon--link-open::after {
  right: 0;
  bottom: 0;
  color: transparent;
  content: "";
}

.fc-tb__menu-icon--link-clear::after {
  top: 1px;
  right: 0;
  width: 10px;
  height: 10px;
  background:
    linear-gradient(45deg, transparent 0 43%, #a4262c 44% 56%, transparent 57%),
    linear-gradient(135deg, transparent 0 43%, #a4262c 44% 56%, transparent 57%);
  content: "";
}

.fc-tb__menu-icon--link-external::after {
  right: 0;
  bottom: 0;
  width: 9px;
  height: 9px;
  border: 1px solid #605e5c;
  background: #ffffff;
}

.fc-tb__menu-icon--pivot-existing-sheet::before,
.fc-tb__menu-icon--pivot-new-sheet::before,
.fc-tb__menu-icon--pivot-range::before,
.fc-tb__menu-icon--pivot-recommended::before {
  inset: 2px;
  border: 1px solid #8a8886;
  background:
    linear-gradient(#e1dfdd 0 0) 0 33% / 100% 1px no-repeat,
    linear-gradient(#e1dfdd 0 0) 0 66% / 100% 1px no-repeat,
    linear-gradient(90deg, #e1dfdd 0 0) 33% 0 / 1px 100% no-repeat,
    linear-gradient(90deg, #e1dfdd 0 0) 66% 0 / 1px 100% no-repeat,
    #ffffff;
}

.fc-tb__menu-icon--pivot-range::after {
  inset: 5px;
  border: 2px solid #107c41;
}

.fc-tb__menu-icon--pivot-recommended::after {
  right: 0;
  bottom: 0;
  color: transparent;
  content: "";
}

.fc-tb__menu-icon--pivot-new-sheet::before,
.fc-tb__menu-icon--pivot-existing-sheet::before {
  inset: 3px 2px 2px;
  background:
    linear-gradient(#185abd 0 0) 0 0 / 100% 3px no-repeat,
    #ffffff;
  box-shadow:
    3px -3px 0 -1px #ffffff,
    3px -3px 0 0 #8a8886;
}

.fc-tb__menu-icon--pivot-new-sheet::after {
  top: 1px;
  right: 0;
  color: transparent;
  content: "";
}

.fc-tb__menu-icon--pivot-existing-sheet::after {
  right: 0;
  bottom: 0;
  width: 11px;
  height: 11px;
  border: 2px solid #185abd;
  background:
    linear-gradient(#185abd 0 0) 3px 3px / 3px 3px no-repeat,
    #ffffff;
  color: transparent;
  content: "";
}
